   [class*="col-"] {
width: 100%;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#content{

padding-top: 10px;
}
header{
width: 100%;
height: 600px;
background-color: rgb(128, 128, 223);
background-image: url("Station_almere_centrum2.jpg");
background-size: cover; 
}
footer{
width: 100%;
min-height: 150px;
background-color: orange;
}

h1{
   font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: pink;
}
#een{
background-color: rgb(231, 41, 120);


}
#twee{
background-color: rgb(100, 222, 133);
}

table {
    width: 100%;
     background-color: inherit;
    border-collapse: collapse;
}


#attractie1,
#attractie2 {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

#attractie1 img,
#attractie2 img {
    height: 150px;
    margin-left: 20px;
}

.tekst {
    flex: 1;
}
@media only screen and (min-width: 1200px){
h1{
 font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
}

@media (min-width: 768px) {
    #content {
        display: flex;
    }
}
